<mat-spinner
  *ngIf="data.length === 0"
  diameter="50"
  style="margin: 0 auto; margin-top: 25%"
></mat-spinner>

<div *ngFor="let d of data">
  <mat-card class="shadow-sm m-3 p-0" *ngIf="data.length !== 0">
    <mat-card-header>
      <mat-card-title style="color: #3f51b5" class="font-bold">
        {{ d.baseAsset + " / " + d.quoteAsset | uppercase }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div
        style="
          display: flex;
          align-items: center;
          justify-content: space-evenly;
        "
      >
        <p class="font-bold text-lg text-red-600">
          <fa-icon [icon]="faRupeeSign"></fa-icon> {{ d.bidPrice | number }}
        </p>
        <p class="font-bold text-lg text-green-600">
          <fa-icon [icon]="faRupeeSign"></fa-icon> {{ d.askPrice | number }}
        </p>
      </div>

      <div
        style="
          display: flex;
          align-items: center;
          justify-content: space-evenly;
        "
      >
        <p class="font-bold">
          H: <fa-icon [icon]="faRupeeSign"></fa-icon>
          {{ d.highPrice | number }}
        </p>
        <p class="font-bold">
          L: <fa-icon [icon]="faRupeeSign"></fa-icon>
          {{ d.lowPrice | number }}
        </p>
        <p class="font-bold">V: {{ d.volume | number }}</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
